.btn {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 280px;
  padding: 12px 0;
  text-align: center;
  font-size: 18px;

  @include bold-font;
  color: $white;
  outline: 0;
  cursor: pointer;

  @media #{$tablet-width} {
    width: 300px;
  }
}
