.competition__form {
  display: block;

  @media #{$tablet-width} {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--name {
      order: 1;
    }

    &--achievement {
      order: 4;
    }

    &--contacts {
      order: 3;
    }

    &--app {
      order: 2;
    }

    &--emotions {
      order: 5;
    }
  }
}

.competition__wrapper {
  @include wrapper;
}

.competition__form-section {
  margin: 0 0 35px 0;
  padding-bottom: 40px;
}

.competition__achievement {
  background-color: $light-gray;
}

.competition__app {
  background-color: $light-gray;
}

.competition__description {
  margin: 0;
  padding: 45px 0;
  text-align: center;

  @media #{$tablet-width} {
    padding: 95px 60px 80px 60px;
    font-size: 18px;
  }
}

.competition__form-title {
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 1.4;
  text-align: center;
  color: $pink;
  text-transform: uppercase;

  &--textarea {
    margin-bottom: 16px;
  }
}

.competition__name-section p {
  display: block;

  @media #{$tablet-width} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.competition__contacts-section {
  display: block;

  @media #{$desktop-width} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.competition__contacts-section p {
  display: block;

  @media #{$tablet-width} {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media #{$desktop-width} {
    width: 410px;
  }
}

.competition__name-section label {
  @media #{$tablet-width} {
    padding-left: 0;
    padding-right: 17px;
  }
}

.competition__form-label {
  padding-left: 20px;
  text-align: left;
  color: $pink;
  text-transform: uppercase;
}

.competition__form-input {
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid $border-gray;
  font-size: 18px;
  color: $gray;
  outline: 0;

  &--phone {
    @media #{$tablet-width} {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }

  &--email {
    @media #{$tablet-width} {
      margin-top: 30px;
      margin-bottom: 12px;
    }

    @media #{$desktop-width} {
      margin-top: 0;
    }
  }

  &:hover {
    border: 2px solid $gray;
  }

  &:active {
    border: 2px solid $pink;
  }

  &::-webkit-input-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }

  &:-moz-placeholder {
    color: $gray;
  }
}

.competition__list {
  @include reset-list;
}

.competition__achievement-list {
  display: block;

  @media #{$desktop-width} {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.competition__achievement-item {
  margin-bottom: 40px;
  margin-right: 35px;
  font-size: 18px;

  &:last-of-type {
    margin-bottom: 15px;
  }

  @media #{$desktop-width} {
    width: 265px;
    margin-right: 0;

    &--shark {
      order: 1;
    }

    &--beach {
      order: 4;
    }

    &--chuck {
      order: 2;
    }

    &--gift {
      order: 5;
    }

    &--tower {
      order: 3;
    }

    &--hotel {
      order: 6;
    }
  }
}

.competition__achievement-input {
  display: none;
}

.competition__achievement-label {
  position: relative;
  padding-left: 70px;
  cursor: pointer;
}

.competition__achievement-input + .competition__achievement-check {
  position: absolute;
  box-sizing: border-box;
  top: -7px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid $border-gray;
}

.competition__achievement-input:checked + .competition__achievement-check::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 8px;
  width: 8px;
  height: 2px;
  background-color: $pink;
  transform: rotate(45deg);
}

.competition__achievement-input:checked + .competition__achievement-check::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 12px;
  width: 20px;
  height: 2px;
  background-color: $pink;
  transform: rotate(-45deg);
}

.competition__app-item {
  padding-left: 60px;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.competition__app-input {
  display: none;
}

.competition__app-label {
  position: relative;
  padding-left: 10px;
  font-size: 18px;
}

.competition__app-input + .competition__app-label::before {
  position: absolute;
  top: -8px;
  box-sizing: border-box;
  content: "";
  left: -60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $border-gray;
}

.competition__app-input:checked + .competition__app-label::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -48px;
  border-radius: 50%;
  border: 8px solid $pink;
}

.competition__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  font-size: 18px;
  color: $gray;
  border: 2px solid $border-gray;
  resize: none;
}

.competition__form-submit {
  margin-bottom: 40px;
  padding: 20px;
  background-color: $green;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgba($white, 0.4);
  }
}

.competition__form-remark {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.competition__star {
  color: $pink;
}
