.contacts__title {
  color: $gray;
}

.contacts__text {
  margin-bottom: 20px;

  @include light-font;
  font-size: 24px;
  color: $pink;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  color: $pink;
}

.contacts__mail:hover {
  color: $gray;
  text-decoration: underline;
}
