.features {
  background-color: $light-gray;
}

.features__wrapper {
  @include wrapper;
  padding-top: 30px;

  &--title {
    padding: 40px 30px 30px 30px;
  }

  @media #{$tablet-width} {
    padding-top: 62px;
    padding-bottom: 5px;

    &--title {
      padding: 50px 0 45px 0;
    }
  }

  @media #{$desktop-width} {
    padding-top: 70px;
    padding-bottom: 70px;

    &--title {
      padding: 75px 65px 65px 65px;
    }
  }
}

.features__title-container {
  text-align: center;
  background-color: $white;
}

.features__title {
  @media #{$tablet-width} {
    font-size: 40px;
  }
}

.features__title:not(:last-child) {
  margin-bottom: 25px;

  @media #{$tablet-width} {
    margin-bottom: 0;
  }
}

.features__container {
  @include bg-triangle;
  padding-top: 35px;

  @media #{$tablet-width} {
    padding-top: 0;
  }
}

.features__list {
  text-align: center;

  &::after {
    display: block;
    content: "";
    width: 280px;
    height: 275px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 157px auto;
  }

  @media #{$tablet-width} {
    position: relative;
    box-sizing: border-box;
    padding-left: 310px;
    text-align: left;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 480px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: 275px auto;
    }
  }

  @media #{$desktop-width} {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 0;
    text-align: center;

    &::after {
      display: none;
    }
  }
}

.features__item {
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media #{$desktop-width} {
    width: 260px;
    padding: 303px 0 0 0;
    margin-top: -100px;
    margin-bottom: 0;
    background-size: 200px auto;

    &--initial {
      background-image: url("../img/iphone-screen-mobile@1x.png");
    }

    &--intermediary {
      background-image: url("../img/iphone-screen-mobile@1x.png");
    }

    &--result {
      background-image: url("../img/iphone-screen-mobile@1x.png");
    }
  }
}

.features__item-name {
  margin-bottom: 14px;
  color: $black;

  @media #{$desktop-width} {
    margin-bottom: 20px;
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1;
    font-size: 30px;
    background-color: $light-gray;
    box-shadow: 0 -7px 13px -9px rgba($black, 0.7);
  }
}

.features__description {
  margin-bottom: 35px;
  line-height: 1.8;

  @media #{$desktop-width} {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    font-size: 18px;
    background-color: $light-gray;
  }
}
