.intro {
  position: relative;
  background-color: $background-gray;
  color: $white;
  box-sizing: border-box;

  @media #{$tablet-width} {
    min-height: 730px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 40% bottom, center bottom;
    background-color: $background-gray;
    background-repeat: no-repeat;
    background-size: 700px auto, cover;

    @media #{$retina} {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media #{$desktop-width} {
    min-height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 92% bottom, center bottom;
    background-color: $background-gray;
    background-repeat: no-repeat;
    background-size: 1050px auto, cover;

    @media #{$retina} {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  @include wrapper;
}

.intro__header {
  min-height: 462px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: left bottom, center bottom;
  background-color: $background-gray;
  background-repeat: no-repeat;
  background-size: 258px auto, cover;

  @media #{$retina} {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }

  @media #{$tablet-width} {
    display: none;
  }
}

.intro__text {
  text-align: center;

  @media #{$tablet-width} {
    width: 300px;
    margin-top: 178px;
  }

  @media #{$desktop-width} {
    margin-top: 190px;
  }
}

.intro__title {
  display: none;
  margin-bottom: 33px;
  color: $white;

  @media #{$tablet-width} {
    display: block;
  }

  @media #{$desktop-width} {
    margin-bottom: 53px;
  }
}

.intro__download {
  padding: 27px 0 32px 0;
}

.intro__btn {
  margin-bottom: 30px;
  border-radius: 60px;
  border: 3px solid $white;
  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    background-color: $white;
    color: rgba($pink, 0.3);
  }

  @media #{$tablet-width} {
    margin-bottom: 40px;
  }

  @media #{$desktop-width} {
    margin-bottom: 55px;
    font-size: 21px;
  }
}

.intro__icons-wrapper {
  margin-bottom: 25px;

  @media #{$tablet-width} {
    margin-bottom: 30px;
  }

  @media #{$desktop-width} {
    margin-bottom: 45px;
  }
}

.intro__icon-link {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 25px;

  @media #{$tablet-width} {
    margin-right: 28px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.intro__description {
  margin-bottom: 0;
  line-height: 1.6;

  @include light-font;

  @media #{$tablet-width} {
    font-size: 18px;
    line-height: 1.4;
  }
}
