.main-nav {
  background-color: $gray;
}

.main-nav__list {
  @include drop-list;
  text-align: center;
}

.main-nav__link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: $white;
  text-transform: uppercase;
  @include bold-font;
  font-size: 18px;
  border-top: 1px solid rgba($white, 0.2);
  border-bottom: 1px solid rgba($black, 0.7);
}

.main-nav__toggle {
  width: 27px;
  height: 27px;
  font-size: 0;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  background-color: transparent;

}
