.map {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-image: url('data:image/svg+xml;utf-8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="595.28px" height="61.905px" viewBox="0 0 595.28 61.905" enable-background="new 0 0 595.28 61.905" xml:space="preserve"><polygon fill="#ffffff" points="297.64,61.905 0,0 595.28,0 "/></svg>');
    background-repeat: no-repeat;
    background-size: 110% auto;
    background-position: center top;

    @media #{$tablet-width} {
      height: 145px;
    }

    @media #{$desktop-width} {
      height: 253px;
    }
  }
}

.map__widget {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-color: $border-gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  @media #{$retina} {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media #{$tablet-width} {
    height: 375px;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media #{$desktop-width} {
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
