.map {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1' xmlns='http://www.w3.org/2000/svg' width='595.28' height='61.905'%3E%3Cpath d='M297.64 61.905L0 0h595.28z'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: center 0;

    @media #{$tablet-width} {
      height: 110px;
    }

    @media #{$desktop-width} {
      height: 140px;
    }
  }
}

.map__widget {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-color: $border-gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  @media #{$retina} {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media #{$tablet-width} {
    height: 380px;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media #{$desktop-width} {
    height: 505px;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
