.page-title {
  box-sizing: border-box;
  margin: 0;
  padding: 100px 0 80px 0;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media #{$tablet-width} {
    padding: 180px 0 140px 0;
  }

  @media #{$desktop-width} {
    padding: 175px 0 105px 0;
  }
}

.page-title__wrapper {
  @include wrapper;
}

.page-title h2 {
  color: $white;

  @media #{$tablet-width} {
    font-size: 50px;
    line-height: 1.2;
  }
}
