.panorama__img-container {
  position: relative;
  width: 100%;
  display: block;
  line-height: 0;
  text-align: left;
}

.panorama__img {
  width: 100%;

  @media #{$tablet-width} {
    min-height: 508px;
  }
}

.panorama__flag {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px 18px 11px 18px;
  text-align: center;
  background-color: $pink;
  line-height: 1.2;
  font-size: 12px;
  text-transform: uppercase;
  color: $white;

  @media #{$tablet-width} {
    top: 58px;
  }

  @media #{$desktop-width} {
    top: 55px;
    right: 130px;
  }
}

.panorama__comment {
  margin-bottom: 20px;
  background-color: $light-gray;
  min-height: auto;

  @media #{$tablet-width} {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  @media #{$desktop-width} {
    min-height: 95px;
    padding: 22px 27px;
  }
}

.panorama__comment-author {
  padding-bottom: 1px;

  @media #{$tablet-width} {
    order: 1;
    line-height: 24px;
  }
}

.panorama__comment-text {
  margin-top: 0;

  @media #{$tablet-width} {
    order: 3;
    flex-grow: 1;
    margin-bottom: 0;
    line-height: 24px;
  }
}

.panorama__comment-like {
  @media #{$tablet-width} {
    width: 125px;
    order: 2;
  }
}
