.photos {
  background-color: $white;
}

.photos__wrapper {
  @include wrapper;
}

.photos__description {
  padding: 45px 14px;
  margin: 0;
  line-height: 2.2;
  text-align: center;

  &--bottom {
    padding: 27px 12px 45px 12px;
  }

  @media #{$tablet-width} {
    padding: 90px 85px;
    font-size: 18px;
    line-height: 1.8;

    &--bottom {
      padding: 50px 85px 70px 85px;
    }
  }

  @media #{$desktop-width} {
    padding: 90px 180px;
    line-height: 1.7;

    &--bottom {
      padding: 20px 180px 70px 180px;
    }
  }
}

.photos__section-container {
  display: block;

  @media #{$tablet-width} {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.photos__section {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
  background-color: $light-gray;

  @media #{$tablet-width} {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  @media #{$desktop-width} {
    margin-bottom: 55px;
  }
}

.photos__img {
  text-align: center;
}

.photos__comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px 15px;

  @media #{$tablet-width} {
    padding: 25px;
  }
}

.photos__comment-author {
  @include bold-font;
}

.photos__comment-like {
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 30px;
  color: $pink;
  text-transform: uppercase;
  font-size: 12px;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }

  @media #{$tablet-width} {
    padding-left: 0;

    &::before {
      left: auto;
      right: 0;
    }
  }
}

.photos__time {
  @include light-font;
  text-transform: uppercase;
  font-size: 12px;
}

.photos__comment-text {
  margin-top: 2px;
}
