.post {
  width: 100%;
  background-color: $light-gray;

  @media #{$desktop-width} {
    width: auto;
    margin-bottom: 28px;
    background-color: $white;
  }
}

.post__wrapper {
  @include wrapper;
  background-color: $light-gray;
  padding-bottom: 40px;

  @media #{$tablet-width} {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @media #{$desktop-width} {
    box-sizing: border-box;
    padding: 57px 60px 57px 80px;
  }
}

.post__filter-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 0 auto 35px auto;

  @media #{$tablet-width} {
    display: none;
  }
}

.post__filter-controls input {
  display: none;
}

.post__filter-controls label[for="upload-filter-1"] {
  width: 44px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3Cpath fill='none' d='M0 0h48v48H0V0z'/%3E%3Cpath fill='%23d22856' d='M34 30h4V14c0-2.21-1.79-4-4-4H18v4h16v16zm-20 4V2h-4v8H2v4h8v20c0 2.21 1.79 4 4 4h20v8h4v-8h8v-4H14z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.post__filter-controls label[for="upload-filter-2"] {
  width: 48px;
  height: 48px;
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='48' height='48'%3E%3Cpath fill='none' d='M0 0h48v48H0V0z'/%3E%3Cpath fill='%23b5b9be' d='M33.12 17.88L15.24 0l-2.83 2.83 4.76 4.76L6.88 17.88a3 3 0 0 0 0 4.24l11 11c.58.59 1.35.88 2.12.88s1.54-.29 2.12-.88l11-11a3 3 0 0 0 0-4.24zM10.41 20L20 10.42 29.59 20H10.41zM38 23s-4 4.33-4 7c0 2.21 1.79 4 4 4s4-1.79 4-4c0-2.67-4-7-4-7zM0 40h48v3H0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.post__filter-controls label[for="upload-filter-3"] {
  width: 33px;
  height: 33px;
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='31.92' height='31.92' viewBox='-35.422 -7.96 31.92 31.92'%3E%3Cpath fill='%23b5b9be' d='M-19.462-3.96c6.595 0 11.96 5.365 11.96 11.96s-5.365 11.96-11.96 11.96-11.96-5.365-11.96-11.96 5.365-11.96 11.96-11.96m0-4c-8.814 0-15.96 7.145-15.96 15.96 0 8.813 7.146 15.96 15.96 15.96S-3.502 16.813-3.502 8c0-8.815-7.146-15.96-15.96-15.96z'/%3E%3Cpath fill='%23b5b9be' d='M-19.462 16.331a8.519 8.519 0 0 0 8.52-8.52 8.518 8.518 0 0 0-8.52-8.519'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.post__filter-toggle {
  display: inline-block;
}

.post__image-select {
  margin: 0;
  padding: 20px 0 38px 0;
  border: none;
  text-align: center;
  line-height: 0;

  @media #{$tablet-width} {
    float: left;
    padding: 0;
  }
}

.post__button-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media #{$tablet-width} {
    margin: 0 2px 0 auto;
  }

  @media #{$desktop-width} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 410px;
  }
}

.post__btn {
  margin-bottom: 10px;
  border-radius: 60px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--submit {
    color: $pink;
    border: 3px solid $pink;

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &:active {
      background-color: $pink;
      color: rgba($white, 0.3);
    }
  }

  &--reset {
    color: rgba($gray, 0.1);
    border: 3px solid rgba($gray, 0.1);

    &:hover {
      color: rgba($gray, 0.6);
      border: 3px solid rgba($gray, 0.6);
    }

    &:active {
      border-color: transparent;
      background-color: rgba($gray, 0.6);
      color: rgba($white, 0.6);
    }
  }

  @media #{$tablet-width} {
    width: 262px;
    margin-bottom: 20px;
  }

  @media #{$desktop-width} {
    width: 184px;
    margin: 0;
  }
}
