.price {
  text-align: center;
  background-color: $light-gray;

  @include bg-triangle;
  padding-top: 88px;
  padding-bottom: 45px;

  @media #{$tablet-width} {
    padding-bottom: 70px;
  }

  @media #{$desktop-width} {
    padding-top: 158px;
    padding-bottom: 95px;
  }
}

.price__wrapper {
  margin: 0;
  padding: 0;

  @media #{$tablet-width} {
    @include wrapper;
  }
}

.price__table {
  box-sizing: border-box;
  width: 840px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  text-transform: uppercase;
  background-color: $white;

  @media #{$tablet-width} {
    width: 620px;
    margin-bottom: 0;
  }

  @media #{$desktop-width} {
    width: 940px;
  }
}

.price__table td {
  width: 280px;
  box-sizing: border-box;

  @media #{$tablet-width} {
    width: 155px;
  }

  @media #{$desktop-width} {
    width: 235px;
  }
}

.price__table-thead {
  background-color: $gray;
}

.price__package {
  width: 280px;
  box-sizing: border-box;
  padding: 22px 80px;
  color: $white;
  font-size: 18px;
  border-right: 2px solid $border-gray;
  border-bottom: 0;

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      z-index: 10;
      top: 0;
      left: -2px;
      width: 75px;
      height: 75px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      content: "ХИТ";
      z-index: 15;
      top: 17px;
      left: 10px;
      font-size: 14px;
      transform: rotate(-45deg);
    }
  }

  &--1 {
    display: none;

    @media #{$tablet-width} {
      display: table-cell;
      background-color: $light-gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }
  }

  @media #{$tablet-width} {
    width: 155px;
    padding: 17px 30px;

    &--hit {
      &::before {
        left: 0;
        background-image: url("../img/bg-hit-tablet.svg");
      }

      &::after {
        top: 12px;
        left: 6px;
      }
    }
  }

  @media #{$desktop-width} {
    padding: 21px 60px;

    &--hit {
      &::before {
        background-image: url("../img/bg-hit.svg");
      }

      &::after {
        top: 18px;
        left: 11px;
      }
    }
  }
}

.price__package-name {
  @include bold-font;
  display: block;
  margin-bottom: 6px;

  @media #{$tablet-width} {
    font-size: 16px;
  }

  @media #{$desktop-width} {
    font-size: 18px;
  }
}

.price__package-value {
  margin-bottom: 0;
  line-height: 1.1;

  @include light-font;
  font-size: 24px;

  @media #{$tablet-width} {
    font-size: 18px;
  }

  @media #{$desktop-width} {
    font-size: 24px;
  }
}

.price__included {
  position: relative;
  padding: 20px;
  text-align: left;
  border: 2px solid $border-gray;

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 15px;
  }

  &--yes::after {
    width: 31px;
    height: 21px;
    top: 18px;
    background-image: url("data:image/svg+xml,%3Csvg fill='%233dc644' version='1' xmlns='http://www.w3.org/2000/svg' width='21.698' height='16.09' viewBox='-82.357 4.875 21.698 16.09'%3E%3Cpath d='M-60.953 5.167a.999.999 0 0 0-1.414 0L-75.75 18.551l-4.9-4.9a.999.999 0 1 0-1.414 1.414l5.607 5.607a.997.997 0 0 0 1.414 0l14.09-14c.391-.481.391-1.114 0-1.505z'/%3E%3C/svg%3E");

    @media #{$tablet-width} {
      right: 59px;
      top: 13px;
    }

    @media #{$desktop-width} {
      right: 100px;
      top: 22px;
    }
  }

  &--no::after {
    width: 27px;
    height: 26px;
    top: 16px;
    right: 17px;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23f25b26' version='1' xmlns='http://www.w3.org/2000/svg' width='26.752' height='26.752'%3E%3Cpath d='M15.497 13.376L26.312 2.562A1.5 1.5 0 1 0 24.191.441L13.376 11.255 2.562.439A1.5 1.5 0 1 0 .441 2.56l10.814 10.815L.439 24.19a1.5 1.5 0 1 0 2.122 2.121l10.815-10.814L24.19 26.312c.293.293.677.439 1.061.439s.768-.146 1.061-.439a1.5 1.5 0 0 0 0-2.121L15.497 13.376z'/%3E%3C/svg%3E");

    @media #{$tablet-width} {
      right: 60px;
      top: 9px;
    }

    @media #{$desktop-width} {
      right: 102px;
      top: 17px;
    }
  }

  &--1 {
    display: none;

    &::after {
      display: none;
    }

    @media #{$tablet-width} {
      display: table-cell;
      padding: 18px;
      text-transform: none;
      font-size: 14px;
    }

    @media #{$desktop-width} {
      font-size: 18px;
    }
  }

  &--top {
    border-top: 0;
  }

  @media #{$tablet-width} {
    padding: 13px 15px;
  }

  @media #{$desktop-width} {
    padding: 18px 22px;
  }
}

.price__included span {
  @media #{$tablet-width} {
    display: none;
  }
}


.price__slides-container {
  overflow: hidden;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media #{$tablet-width} {
    overflow: auto;
    width: auto;
    padding: 0;
  }
}

.price__slides {
  width: 840px;
  transition: transform 0.8s ease;

  @media #{$tablet-width} {
    width: auto;
  }
}

@media (max-width: 659px) {
  .price__toggle--1:checked ~ .price__slides-container .price__slides {
    transform: translate(0);
  }

  .price__toggle--2:checked ~ .price__slides-container .price__slides {
    transform: translate(-280px);
  }

  .price__toggle--3:checked ~ .price__slides-container .price__slides {
    transform: translate(-560px);
  }
}
