.proof {
  display: none;

  @media #{$tablet-width} {
    display: block;
    background-color: $white;
  }

  @media #{$desktop-width} {
    background-color: $light-gray;
  }
}

.proof__wrapper {
  @include wrapper;
  padding: 65px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.proof__img {
  position: relative;
  width: 238px;
  height: 276px;
  margin-right: 60px;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 238px auto;

  &::before {
    content: "24";
    position: absolute;
    left: 18px;
    top: 56px;
    width: 175px;
    height: 175px;
    line-height: 170px;
    border: 14px solid $pink;
    border-radius: 50%;
    text-align: center;

    @include bold-font;
    color: $pink;
    font-size: 96px;
  }

  @media #{$desktop-width} {
    width: 298px;
    height: 345px;
    background-size: 298px auto;

    &::before {
      left: 25px;
      top: 72px;
      width: 220px;
      height: 220px;
      line-height: 215px;
      font-size: 120px;
    }
  }
}

.proof__text {
  width: 305px;

  @media #{$desktop-width} {
    width: 526px;
  }
}

.proof__title {
  display: block;
  margin-top: 35px;
  margin-bottom: 15px;

  @include bold-font;
  font-size: 30px;
  color: $black;

  @media #{$desktop-width} {
    margin-top: 90px;
  }
}

.proof__title br {
  @media #{$desktop-width} {
    display: none;
  }
}

.proof__description {
  margin-bottom: 15px;

  @media #{$desktop-width} {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.proof__link {
  color: $pink;
  text-decoration: underline;

  @media #{$desktop-width} {
    font-size: 18px;
  }
}
