.proof {
  display: none;

  @media #{$tablet-width} {
    display: block;
    background-color: $white;
  }

  @media #{$desktop-width} {
    background-color: $light-gray;
  }
}

.proof__wrapper {
  @include wrapper;
  padding: 60px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.proof__img {
  position: relative;
  width: 240px;
  height: 280px;
  margin-right: 60px;
  // background-image: url("../img/timer.svg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;

  &::before {
    content: "24";
    position: absolute;
    left: 19px;
    top: 55px;
    width: 170px;
    height: 170px;
    line-height: 170px;
    border: 15px solid $pink;
    border-radius: 50%;
    text-align: center;

    @include bold-font;
    color: $pink;
    font-size: 96px;
  }

  @media #{$desktop-width} {
    width: 300px;
    height: 350px;

    &::before {
      left: 24px;
      top: 65px;
      width: 230px;
      height: 230px;
      line-height: 230px;
      font-size: 120px;
    }
  }
}

.proof__text {
  width: 305px;

  @media #{$desktop-width} {
    width: 526px;
  }
}

.proof__title {
  display: block;
  margin-top: 35px;
  margin-bottom: 15px;

  @include bold-font;
  font-size: 30px;
  color: $black;

  @media #{$desktop-width} {
    margin-top: 90px;
  }
}

.proof__title br {
  @media #{$desktop-width} {
    display: none;
  }
}

.proof__description {
  margin-bottom: 15px;

  @media #{$desktop-width} {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.proof__link {
  color: $pink;
  text-decoration: underline;

  @media #{$desktop-width} {
    font-size: 18px;
  }
}
