.reviews {
  position: relative;
  background-color: $white;
  text-align: center;

  @media #{$desktop-width} {
    &::before {
      content: "";
      position: absolute;
      top: 74px;
      left: 50%;
      width: 79px;
      height: 63px;
      margin-left: -38px;
      background-color: $white;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23efefef' width='78.672' height='63.789'%3E%3Cpath d='M34.967 7.063L30.713 0C28.272 1.495 0 12.207 0 39.617c0 7.231.336 24.172 18.9 24.172 11.187 0 13.94-10.279 13.94-13.584 0-21.977-21.382-14.177-21.382-14.177 0-18.071 19.805-26.844 23.509-28.965zm43.705 0L74.418 0c-2.44 1.495-30.713 12.207-30.713 39.617 0 7.231.337 24.172 18.9 24.172 11.187 0 13.939-10.279 13.939-13.584 0-21.977-21.381-14.177-21.381-14.177.002-18.071 19.806-26.844 23.509-28.965z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 79px auto;
    }
  }
}

.reviews__wrapper {
  @include wrapper;
  padding: 50px 0 40px 0;

  @media #{$tablet-width} {
    padding: 37px 0 14px 0;
  }

  @media #{$desktop-width} {
    padding: 190px 0 0 0;
  }
}

.reviews__slider {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media #{$tablet-width} {
    width: 620px;
  }

  @media #{$desktop-width} {
    width: 820px;
  }
}

.reviews__slider-inner {
  overflow: hidden;
}

.reviews__list {
  width: 300%;
  transition: transform 0.7s ease;
  display: flex;
}

.reviews__item {
  width: 280px;
  min-height: 250px;

  @media #{$tablet-width} {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: 195px;
    width: 620px;
  }

  @media #{$desktop-width} {
    width: 820px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.reviews__slider-controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;

  @media #{$desktop-width} {
    position: absolute;
    top: 20px;
    left: -60px;
    display: block;
    width: 940px;
    height: 60px;
    margin: 0 auto;
  }
}

.reviews__slider-controls label {
  @media #{$desktop-width} {
    display: none;
    position: relative;
    width: 25px;
    height: 45px;
    border-radius: 0;
  }
}

.reviews__toggle--1:checked ~ .reviews__slider-inner .reviews__list {
  transform: translate(0);
}

.reviews__toggle--2:checked ~ .reviews__slider-inner .reviews__list {
  transform: translate(-280px);

  @media #{$tablet-width} {
    transform: translate(-620px);
  }

  @media #{$desktop-width} {
    transform: translate(-820px);
  }
}

.reviews__toggle--3:checked ~ .reviews__slider-inner .reviews__list {
  transform: translate(-560px);

  @media #{$tablet-width} {
    transform: translate(-1240px);
  }

  @media #{$desktop-width} {
    transform: translate(-1640px);
  }
}

.reviews__author-container {
  @media #{$tablet-width} {
    margin-bottom: 55px;
  }

  @media #{$desktop-width} {
    margin-bottom: 30px;
  }
}

.reviews__author {
  margin-bottom: 20px;

  @media #{$tablet-width} {
    margin-bottom: 5px;
    font-size: 20px;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
    font-size: 24px;
  }
}

.reviews__text {
  margin-bottom: 53px;
  line-height: 2.1;

  @media #{$tablet-width} {
    width: 620px;
    margin-bottom: 40px;
    line-height: 1.7;
    font-size: 18px;
  }

  @media #{$desktop-width} {
    width: 700px;
    margin-bottom: 33px;
  }
}

.reviews__author-description {
  display: none;
  margin: 0;

  @media #{$tablet-width} {
    display: block;
    font-size: 14px;
  }

  @media #{$desktop-width} {
    font-size: 18px;
  }
}

@media #{$desktop-width} {
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"],
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"],
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"] {
    display: block;
    background-color: transparent;
    float: left;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]::before {
    content: "";
    position: absolute;
    left: -9px;
    width: 30px;
    height: 2px;
    background-color: $slider-normal;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]::before {
    top: 12px;
    transform: rotate(-45deg);
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]::after {
    bottom: 11px;
    transform: rotate(45deg);
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]:hover::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]:hover::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]:hover::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]:hover::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]:hover::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]:hover::before {
    opacity: 1;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]:active::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-3"]:active::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]:active::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-1"]:active::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]:active::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-2"]:active::before {
    opacity: 0.3;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"],
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"],
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"] {
    display: block;
    background-color: transparent;
    float: right;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]:hover::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]:hover::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]:hover::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]:hover::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]:hover::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]:hover::before {
    background-color: $slider-hover;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]:active::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]:active::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]:active::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]:active::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]:active::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]:active::before {
    background-color: $slider-active;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]::after,
  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]::before {
    content: "";
    position: absolute;
    right: -9px;
    width: 30px;
    height: 2px;
    background-color: $slider-normal;
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]::before,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]::before,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]::before {
    top: 12px;
    transform: rotate(45deg);
  }

  .reviews__toggle--1:checked ~ .reviews__slider-controls label[for="toggle-2"]::after,
  .reviews__toggle--2:checked ~ .reviews__slider-controls label[for="toggle-3"]::after,
  .reviews__toggle--3:checked ~ .reviews__slider-controls label[for="toggle-1"]::after {
    bottom: 11px;
    transform: rotate(-45deg);
  }
}
