.reviews {
  background-color: $white;
  text-align: center;
}

.reviews__wrapper {
  @include wrapper;
  padding: 45px 0;

  @media #{$tablet-width} {
    padding: 180px 0 0 0;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media #{$tablet-width} {
    flex-direction: column-reverse;
    min-height: 195px;
  }
}

.reviews__author-container {
  @media #{$tablet-width} {
    margin-bottom: 35px;
  }
}

.reviews__author {
  margin-bottom: 20px;

  @media #{$tablet-width} {
    margin-bottom: 5px;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
    font-size: 24px;
  }
}

.reviews__text {
  margin-bottom: 35px;
  line-height: 2;

  @media #{$tablet-width} {
    line-height: 1.7;
    font-size: 18px;
  }
}

.reviews__author-description {
  display: none;
  margin: 0;

  @media #{$tablet-width} {
    display: block;
    font-size: 14px;
  }

  @media #{$desktop-width} {
    font-size: 18px;
  }
}
