.slider__toggle {
  display: none;
}

.slider__labels-wrapper {
  &--price {
    @media #{$tablet-width} {
      display: none;
    }
  }
}

.slider__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background-color: $slider-normal;
  cursor: pointer;
  border: 3px solid $white;
  border-radius: 50%;
  transition: background-color 0.2s;

  &--4,
  &--5,
  &--6 {
    border: 3px solid $light-gray;
  }
}

.slider__toggle--1:checked ~ .slider__labels-wrapper .slider__label--1,
.slider__toggle--2:checked ~ .slider__labels-wrapper .slider__label--2,
.slider__toggle--3:checked ~ .slider__labels-wrapper .slider__label--3,
.slider__toggle--4:checked ~ .slider__labels-wrapper .slider__label--4,
.slider__toggle--5:checked ~ .slider__labels-wrapper .slider__label--5,
.slider__toggle--6:checked ~ .slider__labels-wrapper .slider__label--6 {
  border: 3px solid $gray;
}
