@font-face {
  font-family: "Open Sans";

  font-style: normal;
  font-display: swap;

  src: url("../fonts/opensans.woff"), url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "Open Sans Bold";

  font-style: normal;
  font-display: swap;

  src: url("../fonts/opensansbold.woff"), url("../fonts/opensansbold.woff2");
}

@font-face {
  font-family: "Open Sans Light";

  font-style: normal;
  font-display: swap;

  src: url("../fonts/opensanslight.woff"), url("../fonts/opensanslight.woff2");
}
